<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter the Artist name</h1>
    <form method="POST">
        <input type="text" name="artist" placeholder="Artist Name"/>
        <input type="submit" name="get_albums" value="Check Albums!"/>
        <input type="submit" name="get_followers" value="Check Followers!"/>
    </form>
    <h2>Get Your Data</h2>
    <form method="POST">
      <input type="text" name="client_id" placeholder="Username"/>
      <input type="submit" name="get_playlists" value="Check Playlists!"/>
        <input type="submit" name="new_playlist" value="Create Playlist!"/>
    </form>
</body>
</html>
