<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter the Artist name</h1>
    <form method="POST">
        <input type="text" name="artist" placeholder="Artist Name"/>
        <input type="submit" name="get_albums" value="Check Albums!"/>
        <input type="submit" name="get_followers" value="Check Followers!"/>
    </form>
    <h2>Get Your Data</h2>
    <form method="POST">
        <input type="submit" name="get_playlists" value="Check Playlists!"/>
        <input type="submit" name="get_tracks" value="Check Tracks!"/>

        <script type="module">

            // Import the functions you need from the SDKs you need
          
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-app.js";
          
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-analytics.js";
          
            // TODO: Add SDKs for Firebase products that you want to use
          
            // https://firebase.google.com/docs/web/setup#available-libraries
          
          
            // Your web app's Firebase configuration
          
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          
            const firebaseConfig = {
          
              apiKey: "AIzaSyCqJW2CakFLjtLMhULVlRfml8B4oataPLU",
          
              authDomain: "spot-your-fy.firebaseapp.com",
          
              projectId: "spot-your-fy",
          
              storageBucket: "spot-your-fy.appspot.com",
          
              messagingSenderId: "567134996550",
          
              appId: "1:567134996550:web:cbdff5ad27fcb02e33a247",
          
              measurementId: "G-NJX3NBLEJZ"
          
            };
          
          
            // Initialize Firebase
          
            const app = initializeApp(firebaseConfig);
          
            const analytics = getAnalytics(app);
          
          </script>
    </form>
</body>
</html>
